Examples/RequestService/RequestClient/Service References/RequestServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RequestService.Common.Models.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RequestService.Common.Models.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RequestService.WcfRequestService/RequestService/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="SeminarRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SeminarRequest" nillable="true" type="tns:SeminarRequest" />
  <xs:complexType name="MeetingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeetingRequest" nillable="true" type="tns:MeetingRequest" />
  <xs:complexType name="JuridicalTrackingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JuridicalTrackingRequest" nillable="true" type="tns:JuridicalTrackingRequest" />
  <xs:complexType name="RequestParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Request" nillable="true" type="tns:RequestBase" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestParameters" nillable="true" type="tns:RequestParameters" />
</xs:schema>