Examples/FileTransferFramework/Server/FileTrainsferFramework.Server/Service References/ClientFileTransferServiceReference/StreamService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileTransferFramework.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileTransferFramework.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileTransferRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileTransferRequest" nillable="true" type="tns:FileTransferRequest" />
  <xs:complexType name="FileTransferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileTransferResponse" nillable="true" type="tns:FileTransferResponse" />
</xs:schema>